include LICENSE
include README.md
graft tests
graft include
graft src

global-exclude __pycache__/*
global-exclude *.o
global-exclude *.a
global-exclude *.so
global-exclude *.pyd
global-exclude *.pyc
global-exclude .git*
global-exclude .deps/*
global-exclude .DS_Store
