include LICENSE
include README.md
include Makefile
graft tests
graft include
graft src

global-include *.pyx
global-include *.pxd

global-exclude __pycache__/*
global-exclude *.o
global-exclude *.a
global-exclude *.so
global-exclude *.pyd
global-exclude *.pyc
global-exclude .git*
global-exclude .deps/*
global-exclude .DS_Store
